<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
     
    
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <!-- select theme - 16 themes available, names can be
        obtained from https://bootswatch.com

        possible values: default, cerulean, cosmo, cyborg, darkly,
        flatly, journal, lumen, paper, readable, sandstone, simplex,
        slate, solar, spacelab, superhero, united, yeti
        -->
        <param-name>BootsFaces_THEME</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <param-name>net.bootsfaces.get_fontawesome_from_cdn</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/welcome.xhtml</welcome-file>
        
    </welcome-file-list>
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/eot</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/ttf</mime-type>
    </mime-mapping>
    <security-constraint>
        <display-name>Authenticated access</display-name>
        <web-resource-collection>
            <web-resource-name>User pages</web-resource-name>
            <description/>
            <url-pattern>/pages/dashBoard.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Contract access</display-name>
        <web-resource-collection>
            <web-resource-name>Contract</web-resource-name>
            <description/>
            <url-pattern>/pages/contract/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>SUPERVISOR</role-name>
            <role-name>ASSISTANT</role-name>
             <role-name>SECRETARY</role-name>
             <role-name>STAFFMEMBER</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Sheets access</display-name>
        <web-resource-collection>
            <web-resource-name>Contract</web-resource-name>
            <description/>
            <url-pattern>/pages/timesheets/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
        
             <role-name>STAFFMEMBER</role-name>
             
             <role-name>STUDENT</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>tss-file-realm</realm-name>
        <form-login-config>
            <form-login-page>/pages/auth/login.xhtml</form-login-page>
            <form-error-page>/pages/auth/login.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Authenticated SUPERVISOR</description>
        <role-name>ADMINISTRATOR</role-name>
    </security-role>
    <security-role>
        <description>Authenticated student</description>
        <role-name>STUDENT</role-name>
    </security-role>
    <security-role>
        <description>Authenticated staff member</description>
        <role-name>STAFFMEMBER</role-name>
    </security-role>
    <security-role>
        <description>Authenticated student</description>
        <role-name>GUEST</role-name>
    </security-role>
    
</web-app>

